<% flash.each do |type, message| %>
  <% if message.is_a?(Array) %>
    <% message.each do |m| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= m.html_safe %>
      </div>
    <% end %>
  <% else %>
    <div class="alert <%= bootstrap_class_for(type) %> fade in">
      <button class="close" data-dismiss="alert">×</button>
      <%= message.html_safe %>
    </div>
  <% end %>
<% end %>
