<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Your Vehicle</h3>
  </div>
  <div class="panel-body">
    <%= form_for @vehicle do |f| %>

      <div class="row">
        <div class="col-sm-12">
          <label>Vehicle Type:</label>
          <label>
            <%= f.radio_button :vehicle_type, 'car', :checked => true %>
            Car
          </label>

          <label>
            <%= f.radio_button :vehicle_type, 'truck' %>
            Truck
          </label>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <%= label :license_number, 'License Plate Number:' %>
          <%= f.text_field :license_number %>
        </div>
      </div>

      <%= f.button 'Add Vehicle', type: :submit, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
