<% if @vehicle.discount_elligible? %>
  <div class="alert alert-success">
    You're elligible for a 50% off discount for being a returning customer
  </div>
<% end %>

<%= form_for @wash_transaction do |f| %>
  <%= f.hidden_field :vehicle_id, value: @vehicle.id %>

  <% if @vehicle.truck? %>
    <div>
      <label>Truck Condition:</label>
      <label>
        <%= f.radio_button :vehicle_condition, :normal, checked: true  %>
        Normal
      </label>

      <label>
        <%= f.radio_button :vehicle_condition, :muddy %>
        Has Some Mud
      </label>
    </div>
    <div>
      <label>Is your truck bed open?:</label>
      <label>
        <%= f.check_box :bed_ajar %> Yes
      </label>
    </div>

  <% end %>

  <%= f.button 'Schedule Wash', type: :submit, class: 'btn btn-success' %>
<% end %>