<div class="col-sm-8 col-sm-offset-2">


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Your <%= @vehicle.vehicle_type %> (License: <%= @vehicle.license_number %>)</h3>
    </div>
    <div class="panel-body">
      <%= render partial: 'shared/wash_form' %>
    </div>
  </div>


</div>
