
<div class="row">
  <div class="col-sm-6">
    <%= render partial: 'shared/vehicle_form' %>
  </div>
  <div class="col-sm-6">
    <%= render @wash_transactions %>
    <%= will_paginate @wash_transactions, renderer: BootstrapPagination::Rails %>
  </div>
</div>
