<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Wash #<%= wash_transaction.id %></h3>
  </div>
  <div class="panel-body">
    <%= wash_transaction.created_at.to_s(:long_ordinal) %>
    <span class="label label-<%= bootstrap_label_for(wash_transaction.status) %>"><%= wash_transaction.status %></span><br>
    Price: <%= number_to_currency(wash_transaction.price) %><br>
    License Id: <%= wash_transaction.vehicle.license_number %><br>
    Vehicle Type: <%= icon_for(wash_transaction.vehicle.vehicle_type) %>
  </div>
</div>
