<!DOCTYPE html>
<html>
  <head>
    <title>Carwash</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <%= image_tag('logo.jpg', width: '200px;', class: 'center-block') %>
  </header>
    <div class="container">
      <%= render partial: 'shared/flash_messages', flash: flash %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
